body {
  color: black;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  background-color: #FFEEE4;
  padding-bottom: 4em;
  margin: 0;
  font-size: 20px;
}


p{
  margin-top: 5px;
  margin-bottom: 5px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

h1 {
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 0.25em;
  line-height: 1.1;

}

h2{
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 35px;
  line-height: 1.4;
}

h3 {
  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.5;
  margin-top: 0;
}

img {
  max-width: 48%;
  margin-right: 0.5%;
}

img:first-child{
    margin-left: 1%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 24px;
}

.sekcija {
  margin-top: 30px;
  margin-bottom: 30px;
  grid-column-start: 2;
  grid-column-end: 10;
}

.vrh {
  margin-bottom: 3em;
}

.usluge {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.pojedinacnausluga {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 15px;
  padding: 20px 40px;
  border-radius: 2px;
  background-color: rgba(255,255,255,0.6);
}

.kapacitet {
  margin-top: 2em;
  margin-bottom: 3em;
}

.slike1 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 11;
}

.slike2 {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 11;
}

.odomu {
  grid-row-start: 5;
  margin-top: -3em;
  background-color: #FFEEE4;
  padding: 2em 2em 0em 2em;
  grid-column-end: 9;
  margin-bottom: 0;
}

.kontaktcontainer {
  display: flex;
  flex-direction: column;
  grid-row-start: 7;
  align-items: flex-end;
}

.kontakt {
  margin-top: -4em;
  padding: 15px 20px;
  background-color: black;
  color: white;
  border: 1px solid #FFEEE4;
  box-shadow: 0px 0px 0px 10px #FFEEE4;
}


.buttonholder{
  margin-top: 24px;
}

.buttonbonitet {
    text-decoration: none;
    color: initial;
    padding: 18px 30px;
    background-color: rgba(0,0,0,0.85);
    border-radius: 100px;
    border: none;
    color: white;
}


.zakonodavstvo{
  border-top: 1px solid black;
  margin-top: 140px;
  padding-top: 10px;
}
.buttonbonitet:hover {
    background-color: rgb(0,0,0);
}

.center{
  text-align: center;
}

.righttext{
  text-align: right;
}


@media screen and (max-width : 1000px) {


    .usluge {
      margin-top: 20px;
    }

  body {
    margin: 2em;
  }

  .opis {
    font-size: 1.5em;
  }

  .pojedinacnausluga {
    font-size: 18px;
    margin-right: 14px;
    margin-bottom: 16px;
    padding: 14px 20px;
  }
}

@media screen and (max-width : 800px) {


  .usluge {
    margin-top: 40px;
  }

  .sekcija {
    grid-column-start: 1;
    grid-column-end: 11;
  }

  .vrh {
    margin-bottom: 2em;
  }

  h1 {
    font-size: 70px;
  }


  img {
    max-width: 100%;
    margin-right: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .odomu {
   padding: 0;
   margin-top: 1.5em;
   margin-bottom: 1em;
  }

  img:first-child{
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 0%;
  }


}

@media screen and (max-width : 600px) {

  body {
    margin: 20px;

    font-size: 1em;
  }

  .vrh {
    margin-bottom: 0.5em;
  }

  .pojedinacnausluga {
    font-size: 16px;
    margin-right: 8px;
    margin-bottom: 10px;
    padding: 14px 20px;
  }

  h1 {
    font-size: 50px;
  }

  h2{
    font-size: 1.1em;
  }

  .opis {
    font-size: 1.75em;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: normal;
  }

  .opis {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }
}

@media screen and (max-width : 400px) {

    h1 {
      font-size: 40px;
    }

    .opis {
      font-size: 1.2em;
    }
}
